

<div class="header-wrapper">
    <div class="interactive-wrapper">
        <div class="int-tag">
            Climate change
        </div>
        <div class="headline-wrapper">
            <h1>How extreme sea level events are going to increase in Australia</h1>
        </div>
        <p class="standfirst">
            <span>Even with immediate cuts to carbon emissions, scientists expect sea level rise of 30cm-60cm by 2100, exposing millions of people to flooding.</span>
        </p>
        <div class="img-credit-header">
            Source: David Moir / AAP
        </div>
    </div>
</div>

<div class="interactive-wrapper interactive-wrapper--main">

    <div class="int-byline">

        <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a>
        <time class="int-date" data-timestamp="1553842806000" datetime="2019-03-29T07:00:06+0000" itemprop="datePublished">3 October 2019</time>
        <div>
            <ul class="od-share">
                <li class="od-share__button od-share__button--facebook">
                    <a href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2Fng-interactive%2F2019%2Fmar%2F29%2Fa-year-of-bloodshed-at-gaza-border-protests%3FCMP%3Dshare_btn_fb"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg></a>
                </li>
                <li class="od-share__button od-share__button--twitter">
                    <a href="https://twitter.com/intent/tweet?text=A%20year%20of%20bloodshed%20at%20Gaza%20border%20protests&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2Fng-interactive%2F2019%2Fmar%2F29%2Fa-year-of-bloodshed-at-gaza-border-protests%3FCMP%3Dshare_btn_tw"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg></a>
                </li>
                <li class="od-share__button od-share__button--email">
                    <a href="mailto:?subject=A%20year%20of%20bloodshed%20at%20Gaza%20border%20protests&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fworld%2Fng-interactive%2F2019%2Fmar%2F29%2Fa-year-of-bloodshed-at-gaza-border-protests%3FCMP%3Dshare_btn_link"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.3 22.3l-.6-.6-8.5 4-8.6-4-.4.6 9 7.4c-.1 0 9.1-7.4 9.1-7.4zm1.8-7.1H13.8L11.5 19v13.9l2.4 1.8h22.4l2.2-1.8V19l-2.4-3.8zm-.8 16.2H14.6V18.5h20.7v12.9z"></path></svg></a>
                </li>
            </ul>
        </div>
    </div>
    
    <p>A <a href="https://www.theguardian.com/environment/2019/sep/25/extreme-sea-level-events-will-hit-once-a-year-by-2050">major new report</a> predicts extreme sea level events that used to occur once every hundred years will occur at least once a year in many regions around the world by 2050.</p>

    <p>The <a href="https://www.ipcc.ch/srocc/download-report/">Special Report on the Ocean and Cryosphere in a Changing Climate</a> by the Intergovernmental Panel on Climate Change looks at the impacts of climate change on glaciers and ice sheets, sea level rise, extreme sea level events and ocean ecosystems.</p>

    <p>With immediate cuts to carbon emissions, scientists expect sea level rise of 30cm-60cm by 2100. Without cuts in carbon emissions, the ocean is expected to rise between 61cm and 110cm.</p>

    <div class="inline-image">
        <img srcset="<%= path %>/assets/620-beach-club.jpg 620w,
        <%= path %>/assets/1000-beach-club.jpg 1000w"
        sizes="(max-width: 620px) 620px,
        1000px"
        src="<%= path %>/assets/1000-beach-club.jpg" alt="Damage caused by heavy rain and storms to The Beach Club in Collaroy in Sydney's Northern Beaches, Monday June 6, 2016">
    </div>

    <div class="inline-image-credit">
        Damage caused by heavy rain and storms to The Beach Club in Collaroy in Sydney's Northern Beaches, Monday June 6, 2016. Source: Daivd Moir / AAP
    </div>

    <p>The global impacts of sea level rise will be major, with rises under even the best-case scenario still exposing millions of people to flooding, and as a potential result, the displacement of people from coastal areas.</p>

    <p>In coastal cities, without significant spending on adaptation measures such as relocation and sea walls, there will be severe damage to buildings and other infrastructure.</p>

    <p>In Australia, the potential replacement cost of residential buildings exposed to a 1.1m level sea rise is estimated at as much as $63bn.</p>

    <p>So, how will the increased frequency of extreme sea level events impact Australia?</p>

    <div id="scrolly-2">
    <div class="scroll-wrapper">

        <div class="scroll-inner">
            <div id="data-viz2"></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>First, an explanation of how these extreme events will become more frequent. This chart shows hypothetical data for sea level over a period of time, with highs and lows depending on the tides.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Here's the <span class="purple3">average sea height</span> for this time period.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>A one in 100 year sea level event is by definition rare, with coastal flooding requiring unusual circumstances like the Sygna storm in 1974 or the 2016 storm which devastated the waterfront at Collaroy.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>However, due to climate change the overall sea level is going to rise.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>This means that extreme sea level events will happen much more frequently, as the ocean will be higher overall - so the sea level heights that previously resulted from a severe storm can happen during much more mild weather and tides.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>In this simplified example, what was once a one in 100 event now happens 33 times in 100 - or a frequency similar to once every three years.</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <p>The actual increase in frequency will vary around Australia due to local conditions, like how much the present day sea level varies due to storm surges and astronomical tides.</p>

    <p>Here you can see the <span class="blue">location of 22 tide gauges</span> around Australia for which the IPCC has estimated the increase in extreme sea level events. These gauges are part of an important global dataset for monitoring sea level rise.</p>
    <h2 class="figureHeading">Location of tide gauges</h2>
    <div class="inline-image">
    
    <div id="mapLocations">
        <div class="mapWrapper">
        </div>            
    </div>
    </div>

    <p>The IPCC estimates focus on two climate change scenarios known as representative concentration pathways, or RCPs, and various time points.</p>

    <p>According to the CSIRO, RCP 2.6 is essentially a best-case scenario, with deep cuts in carbon emissions and with emissions and technology for removing for actively removing carbon dioxide from the atmosphere.</p>

    <p>RCP 8.5 is a worst-case scenario representing a future with little curbing of emissions and much greater warming.</p>

    <p>For many locations in eastern Australia, extreme sea level events will occur <strong>once a year</strong> by the middle of the century even under the best-case emissions scenario (RCP 2.6). In other locations, the frequency has increased to <strong>once every ten years</strong>.</p>

    <p>Under the highest emissions scenario modelled (RCP 8.5), most Australian sites will experience extreme events <span class="purple3">once a year</span> from 2046 to 2065 and Brisbane is projected to experience extreme sea level events at least <span class="purple4">ten times a year</span>.</p>

    <p>To give you more of a sense of what this change in frequency looks like, I’ve taken the probabilities from the IPCC estimates to make a simple animation simulating extreme sea level events over a 10-year period under the different scenarios.</p>

    <div id="scrolly-3">
    <div class="scroll-wrapper">

        <div class="scroll-inner">
            <div class="row" id="mapWrapper">
                <div id="map1" class="col50">
                    <div id="counter"></div>      
                </div>
                <div id="map2" class="col50">    
                </div>
            </div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <strong>Present day v best case scenario, 2046-2065 (RPC 26)</strong>
                    <p>Each red circle flashing on the map indicates an extreme sea level event has occurred.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <strong>Best-case scenario v worst case scenario, 2081-2100</strong>
                    <p>Each red circle flashing on the map indicates an extreme sea level event has occurred.</p>
                </div>
            </div>
        </div>
    </div>
    </div>

     <p>It’s important to note that this only uses a simple random number generator based on the mean probability derived from the amplification factor, and doesn’t consider any influence of tides. In reality in many areas the extreme events would be increasingly periodic and regular.</p>

</div>