<div class="scroll-wrapper">

        <div class="scroll-inner">
    		<div id="data-viz">     
            </div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>Here you can see the <span class="blue">location of 22 tide gauges</span> around Australia for which the IPCC has estimated the increase in extreme sea level events. These gauges are part of an important global dataset for monitoring sea level rise</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <strong>Best case scenario, 2046-2065</strong>
                    <p>Here, locations are coloured by how frequent extreme sea level events will become relative to what is now a one in 100 year event. For many locations in eastern Australia, these events will occur <span class="purple3">once a year</span> by the middle of the century even under the best-case emissions scenario (RCP 2.6). In other locations, the frequency has increased to <span clas="purple2">once every ten years</span></p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <strong>Worst case scenario, 2046-2065</strong>
                    <p>Under the highest emissions scenario modelled (RCP 8.5), most Australian sites will experience extreme events <span class="purple3">once a year</span> from 2046 to 2065 and Brisbane is projected to experience extreme sea level events at least <span class="purple4">ten times a year</span>.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <strong>Worst case scenario, 2081-2100</strong>
                    <p>By the end of the century extreme sea level events become even more frequent under the high emissions scenario, with most locations projected to experience them at <span class="purple4">least ten times a year</span>.</p>
                </div>
            </div>
        </div>
    </div>