

<div class="header-wrapper">
    <div class="interactive-wrapper">
        <div class="int-tag">
            Climate change
        </div>
        <div class="headline-wrapper">
            <h1>How extreme sea level events are going to increase in Australia</h1>
        </div>
        <p class="standfirst">
            <span>Even with immediate cuts to carbon emissions, scientists expect sea level rise of 30cm-60cm by 2100, exposing millions of people to flooding.</span>
        </p>
        <div class="img-credit-header">
            Source: David Moir / AAP
        </div>
    </div>
</div>

<div class="interactive-wrapper interactive-wrapper--main">

    <div class="int-byline">

        <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a>
        <time class="int-date" data-timestamp="1553842806000" datetime="2019-10-10T07:00:06+0000" itemprop="datePublished">8 October 2019</time>
        <div>
            <ul class="od-share">
                <li class="od-share__button od-share__button--facebook">
                    <a href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https://theguardian.com/environment/ng-interactive/2019/oct/08/how-extreme-sea-level-events-are-going-to-increase-in-australia"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg></a>
                </li>
                <li class="od-share__button od-share__button--twitter">
                    <a href="https://twitter.com/intent/tweet?text=How%20extreme%20sea%20level%20events%20are%20going%20to%20increase%20in%20Australia&amp;url=https://theguardian.com/environment/ng-interactive/2019/oct/08/how-extreme-sea-level-events-are-going-to-increase-in-australia"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg></a>
                </li>
                <li class="od-share__button od-share__button--email">
                    <a href="mailto:?subject=How%20extreme%20sea%20level%20events%20are%20going%20to%20increase%20in%20Australia&amp;body=https://theguardian.com/environment/ng-interactive/2019/oct/08/how-extreme-sea-level-events-are-going-to-increase-in-australia"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.3 22.3l-.6-.6-8.5 4-8.6-4-.4.6 9 7.4c-.1 0 9.1-7.4 9.1-7.4zm1.8-7.1H13.8L11.5 19v13.9l2.4 1.8h22.4l2.2-1.8V19l-2.4-3.8zm-.8 16.2H14.6V18.5h20.7v12.9z"></path></svg></a>
                </li>
            </ul>
        </div>
    </div>
    
    <p>A <a href="https://www.theguardian.com/environment/2019/sep/25/extreme-sea-level-events-will-hit-once-a-year-by-2050">major new report</a> predicts extreme sea level events that used to occur once every hundred years will occur at least once a year in many regions around the world by 2050.</p>

    <p>The <a href="https://www.ipcc.ch/srocc/download-report/">Special Report on the Ocean and Cryosphere in a Changing Climate</a> by the Intergovernmental Panel on Climate Change looks at the impacts of climate change on glaciers and ice sheets, sea level rise, extreme sea level events and ocean ecosystems.</p>

    <p>With immediate cuts to carbon emissions, scientists expect sea level rise of 30cm-60cm by 2100. Without cuts in carbon emissions, the ocean is expected to rise between 61cm and 110cm.</p>

    <div class="inline-image">
        <img srcset="<%= path %>/assets/620-beach-club.jpg 620w,
        <%= path %>/assets/1000-beach-club.jpg 1000w"
        sizes="(max-width: 620px) 620px,
        1000px"
        src="<%= path %>/assets/1000-beach-club.jpg" alt="Damage caused by heavy rain and storms to The Beach Club in Collaroy in Sydney's Northern Beaches, Monday June 6, 2016">
    </div>

    <div class="inline-image-credit">
        Damage caused by heavy rain and storms to The Beach Club in Collaroy in Sydney's Northern Beaches, Monday June 6, 2016. Source: Daivd Moir / AAP
    </div>

    <p>The global impacts of sea level rise will be major, with rises under even the best-case scenario still exposing millions of people to flooding, and as a potential result, the displacement of people from coastal areas.</p>

    <p>In coastal cities, without significant spending on adaptation measures such as relocation and sea walls, there will be severe damage to buildings and other infrastructure.</p>

    <p>In Australia, the potential replacement cost of residential buildings exposed to a 1.1m level sea rise is <a href="https://www.environment.gov.au/climate-change/adaptation/publications/climate-change-risks-australias-coasts">estimated at as much as $63bn</a>.</p>

    <p>So, how will the increased frequency of extreme sea level events impact Australia?</p>

    <div id="scrolly-2">
    <div class="scroll-wrapper">

        <div class="scroll-inner">
            <div id="data-viz2"></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>First, an explanation of how these extreme events will become more frequent. This chart shows hypothetical data for sea level over a period of time, with highs and lows depending on the tides.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Here's <span class="mean1">the average sea height</span> for this time period.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>A <span class="red">one in 100 year sea level event</span> is by definition rare, with coastal flooding requiring unusual circumstances like the Sygna storm in 1974 or the 2016 storm which devastated the waterfront at Collaroy.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>However, due to climate change the <span class="mean2">overall sea level</span> is going to rise.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>This means that <span class="red">extreme sea level events</span> will happen much more frequently, as the ocean will be higher overall - so the sea level heights that previously resulted from a severe storm can happen during much more mild weather and tides.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>In this simplified example, what was once a one in 100 sea-height event now happens 33 times in 100 - or a frequency similar to once every three years.</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <p>The actual increase in frequency will vary around Australia due to local conditions, like how much the present day sea level varies due to storm surges and astronomical tides.</p>

    <p>The IPCC has estimated the increase in extreme sea level events for 22 locations around Australia, which have tide gauges that are part of an important global dataset for monitoring sea level rise.</p>

    <p>The estimates focus on two climate change scenarios known as representative concentration pathways, or RCPs, and various time points. According to the CSIRO, RCP 2.6 is essentially a best-case scenario, with deep cuts in carbon emissions and with emissions and technology for removing for actively removing carbon dioxide from the atmosphere.</p>

    <p>RCP 8.5 is a worst-case scenario representing a future with little curbing of emissions and much greater warming.</p>

    <p>To give you more of a sense of what this change in frequency looks like, I’ve taken the probabilities from the IPCC estimates to make a simple animation simulating extreme sea level events over a 10-year period under the different scenarios. Each <strong><span class="red">red circle</span></strong> flashing on the map indicates an <strong><span class="red">extreme sea level event</span></strong> has occurred.</p>

    <div id="scrolly-3">
    <div class="scroll-wrapper">

        <div class="scroll-inner">
            <div class="row" id="mapWrapper">
                <div id="map1container" class="col50">
                    <div id="counter"></div>      
                </div>
                <div id="map2container" class="col50">    
                </div>
            </div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p><strong>Present day v best case emissions scenario (RPC 2.6), 2046-2065 </strong></p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    
                    <p><strong>Best-case emissions scenario (RPC 2.6) v worst case scenario (RPC 8.5), 2081-2100</strong></p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <p>It’s important to note that this only uses a simple random number generator based on the average probability given by the IPCC report, and doesn’t consider any influence of tides. In reality in many areas the extreme events would be increasingly periodic and regular.</p>

    <p>For many locations in eastern Australia, extreme sea level events will occur once a year by the middle of the century even under the best-case emissions scenario (RCP 2.6). In other locations, the frequency has increased to once every 10 years.</p>

    <p>Under the highest emissions scenario modelled (RCP 8.5), most Australian sites will experience extreme events once a year from 2046 to 2065 and Brisbane is projected to experience extreme sea level events at least 10 times a year.</p>

    <p>According to the IPCC while adaptation to sea level rise and an increased frequency of extreme sea-level events is possible, it becomes more challenging the higher that sea levels rise. This means that ambitious cuts in emissions will be required to achieve the best possible outcomes for coastal communities.</p> 
    <p><h2>Notes and references</h2></p>
    <p>The animation of extreme sea level events uses the probability for an event occuring on a single day, inferred from the mean amplification factor for the specified scenario given in the data files from <a href="https://www.ipcc.ch/srocc/download-report/">chapter 4 of the IPCC SROCC report</a>. 
    <p>The sea level rise graph based on <a href="https://research.csiro.au/slrwavescoast/sea-level/"> this chart from the CSIRO, which is based on McInnes et al. AMOJ 2015</a>.</p>    
 
</div>

<div class="footer" id="footer">
    
        <div class="credits_read_more"><h2>Read more</h2></div>
        <ul class="footer-grid">

            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/bdf6204edfe5a088a1b84c4b75b4cff248658b43/0_0_3182_2400/master/3182.jpg?width=620&quality=85&auto=format&fit=max&s=8eedf5437706195c545dbc9de417bda9">
                    <div class="footer-text-content">
                        <h2>Extreme sea level events ‘will hit once a year by 2050’</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2019/sep/25/extreme-sea-level-events-will-hit-once-a-year-by-2050" target="_blank"></a>
                </div>
            </li>

            
            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/c0820aabc9c151087c45912f5b350b3c42ed3251/0_223_5859_3515/master/5859.jpg?width=620&quality=85&auto=format&fit=max&s=2c431108b1a329043abb4e25c67cc588">
                    <div class="footer-text-content">
                        <h2>We have 12 years to limit climate change catastrophe, warns UN</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2018/oct/08/global-warming-must-not-exceed-15c-warns-landmark-un-report" target="_blank"></a>
                </div>
            </li>

            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/ba523c4a3e604120ae23b1d6bab37e709a9c5802/0_321_4881_2929/master/4881.jpg?width=620&quality=85&auto=format&fit=max&s=b5c3d4e93048ba49eceeee3261a7a9a5">
                    <div class="footer-text-content">
                        <h2>Past four years hottest on record, data shows</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2018/nov/29/four-years-hottest-record-climate-change" target="_blank"></a>
                </div>
            </li>

            <li>
                <div class="footer-item-container">
                    <img src="https://i.guim.co.uk/img/media/06ae39d3edcd246411dd098fe84fd6104aa856c8/0_104_5184_3111/master/5184.jpg?width=620&quality=85&auto=format&fit=max&s=1515fe07e1df2a4a9bdcb4768fc3c2f9">
                    <div class="footer-text-content">
                        <h2>World leaders 'have moral obligation to act' after UN climate report</h2>
                    </div>
                    <a class="anchor" href="https://www.theguardian.com/environment/2018/oct/08/world-leaders-have-moral-obligation-to-act-after-un-climate-report" target="_blank"></a>
                </div>
            </li>

            

        </ul>
    </div>